@charset "UTF-8";
@font-face {
    font-family: 'Typewriter';
    src: url('../fonte/JMH\ Typewriter.ttf') format('truetype');
  }

*{
    margin: 0px;
    padding: 0px;
}

body{
    max-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

header{
    background-color: rgb(41, 40, 40);
    text-align: center;
}
header:hover{
    background-color: rgba(41, 40, 40, 0.823);
}
header h1{
    font-family: 'Typewriter';
    font-weight: lighter;
    /*font-variant: small-caps;  */
    font-size: 3.5em;
    color: white;
    padding-top: 30px;
}
header p{
    padding-bottom: 30px;
    color: white;
}
header a{
text-decoration: none;
color: white;
}
header a:hover{
    color: #788585;
    font-size: 1.2em;
    text-decoration: underline;
}

#menu{
    position: fixed;
    right: 0;
    top: 50%;
    width: 10em;
    /* margin-top: -2.5em; */
    list-style-type: none;
    background-color: rgb(41, 40, 40);
    border-radius: 15px 0px 0px 15px;
    box-shadow: 15px 4px 10px rgba(0, 0, 0, 0.658);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;

}
#menu a{
    text-decoration: none;
    color: #CCDAD1;
    line-height: 2em;
}
#menu:hover{
    background-color: #788585;
}

#menu a:hover{
    text-decoration: underline;
    font-size: 1.2em;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'Red Hat Mono';
    font-size: 1.5em;
}
section.ultima p{
    padding-bottom: 40px;
}
section.normal{
    background-image: linear-gradient(to right, #fff, #CCDAD1);
    color: black;
}

section.imagem{
    padding-left: 0px;
    background-color: rgb(44, 44, 44);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.474);
    padding-left: 30px;
    background-attachment: fixed;
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}
section#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
}
section.imagem>p{
    background-color: black;
    color: white;
    width: 400px;
    padding-left: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
}
footer{
    background-color: rgb(33, 32, 32);
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 25px ;
}

footer a{
    font-size: 1.2em;
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
    font-size: 1.4em;
    color: #FF729F;
}